<h1>Clock out portal</h1>
<form class="center" style='width:25%' method="post">
    <div>
        <a>Time in</a><br>
        <input type="datetime" name='time-in' maxlength="5"></input>
    </div>
    <br>
    <div>
        <a>Time out</a><br>
        <input name='time-out' maxlength="5"></input>
    </div>
    <br>
    <div>
        <a>Task</a><br>
        <textarea rows="5" cols="60" name='task'></textarea>
    </div>
    <br>
    <div>
        <a>BRHS Career Prep</a>
        <input type="checkbox" name='career-prep'></input>
    </div>
    <br>
    <button type="submit">Submit</button>
</form>
<a href='/'><button>Back</button></a>

<a style = 'position:fixed;width:100%; background-color: black; right:0px;bottom:0px; text-align: center'>© Trevor Hurst 2022</a>
<style>
body{
    background: rgb(0, 0, 0);
    color: white;
}
</style>