<h2 style="text-align: center;font-family:'Courier New', Courier, monospace;font-size: 1em;">Welcome to Trevor's CalFarley clock-in app</h2>

<a href='/google/login'><img class="center" src="https://th.bing.com/th/id/R.fbaf2a480307c22570f0dc93b6e458bf?rik=%2bLGr8X4DRYavZQ&riu=http%3a%2f%2f3.bp.blogspot.com%2f-Ep_sMHCGb-M%2fVl9h5smpeaI%2fAAAAAAAACak%2fMQF7WdfmBgI%2fs640%2fimage00.png&ehk=n42mES2A7vz0pt6QcriX85BkucvJfEdg0K64IGRd8TQ%3d&risl=&pid=ImgRaw&r=0", alt="Sign in with Google", width="200",height="100"></a>

<form method="post">
    <div class='txtdiv'>
        <input name='email' type="text" class='txt'  placeholder="Email"></input>
    </div>

    <div class='txtdiv'>
        <input name='password' class='txt' type='password' placeholder="Password"></input>
    </div>
    <button class='center' type="submit">Login</button>
</form>

<a style = 'position:fixed;width:100%; background-color: black;color: white; right:0px;bottom:0px; text-align: center'>© Trevor Hurst 2022</a>


<style>
    .center{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .break{
        flex-basis: 100%;
        height: 0;
    }
    .txtdiv{
        display: flex;
        justify-content: center;
    }
    body{

        background: rgb(0, 0, 0);
        color: white;
    }
</style>