<html>
<h1>Training Performance of {{user}}</h1>

<form method="post">
    <div>
        <h2><u>A. Workplace Safety</h2><t></t>
        </u>
            <div class="float-container" style="display:inline">
                <label for="expectations">Below</label>
                <input type="radio" name="ws_expectations" value="Below Workplace Safety Expectations">
            </div>
            <div class="float-container" style="display: inline;">
                <label for="expectations">Meets</label>
                <input type="radio" name="ws_expectations" value="Meets Workplace Safety Expectations">
            </div>
            <div class="float-container" style="display: inline;">
                <label for="expectations">Exceeds</label>
                <input type="radio" name="ws_expectations" value="Exceeds Workplace Safety Expectations">
            </div>
                <br>
        <br>
        <a>Student implements strategies to reduce sources of workplace hazards in order to promote a safe and accident-free working environment. Student wears all proper PPE.</a>
    </div>
    <div>
        <h2><u>B. Workplace Collaboration/Engagement</h2><t></t>
        </u>
            <div class="float-container" style="display:inline">
                <label for="expectations">Below</label>
                <input type="radio" name="wc_expectations" value="Below Workplace Collaboration/Engagement Expectations">
            </div>
            <div class="float-container" style="display: inline;">
                <label for="expectations">Meets</label>
                <input type="radio" name="wc_expectations" value="Meets Workplace Collaboration/Engagement Expectations">
            </div>
            <div class="float-container" style="display: inline;">
                <label for="expectations">Exceeds</label>
                <input type="radio" name="wc_expectations" value="Exceeds Workplace Collaboration/Engagement Expectations">
            </div>
                <br>
        <br>
        <a>Student works well with his/her mentor and other youth. Student is a team player. Student is engaged in the activities taking place at the training site</a>
    </div>
    <div>
        <h2><u>C. Work Ethics</h2><t></t>
        </u>
            <div class="float-container" style="display:inline">
                <label for="expectations">Below</label>
                <input type="radio" name="we_expectations" value="Below Work Ethic Expectations">
            </div>
            <div class="float-container" style="display: inline;">
                <label for="expectations">Meets</label>
                <input type="radio" name="we_expectations" value="Meets Work Ethic Expectations">
            </div>
            <div class="float-container" style="display: inline;">
                <label for="expectations">Exceeds</label>
                <input type="radio" name="we_expectations" value="Exceeds Work Ethic Expectations">
            </div>
                <br>
        <br>
        <a>Student is dependable - consistent in attendance and communicates when they have other commitments. Student comes to work prepared for the day.</a>
    </div>
    <br>
    <br>
    <label>Areas of Praise and Achievement</label><textarea name="a_o_p"></textarea>
    <br>
    <br>
    <br>
    <label>Areas needing improvement</label><textarea name="a_n_i"></textarea>
    <br>
    <br>

    <input type="submit">
</form>

<a href="/workboss"><button>Back</button></a>
<a style = 'position:fixed;width:100%; background-color: black; right:0px;bottom:0px; text-align: center'>© Trevor Hurst 2022</a>
</html>
<style>
    body{
        background: rgb(0, 0, 0);
        color: white;
    }
    .leftalign{
        align-items: left;
    }
    .float-container {
  padding: 0 32px;
  position: relative;
}

label {
  font-size: 16px;
  position: absolute;
  transform: translate(-8px, -16px) scale(1);
}
</style>