<form class="center" style='width:25%' method="post">
    <div>
        <a>Time in</a>
        <input name='time-in'></input>
    </div>
    <br>
    <div>
        <a>Time out</a>
        <input name='time-out'></input>
    </div>
    <br>
    <div>
        <a>Task</a>
        <input name='task'></input>
    </div>
    <button type="submit">Submit</button>
</form>
<a href='/'><button>Back</button></a>

<a style = 'position:fixed;width:100%; right:0px;bottom:0px; text-align: center'>© Trevor Hurst 2022</a>
