<h2 style="text-align: center;font-family:'Courier New', Courier, monospace">Welcome to Trevor's CalFarley clock-in app</h2>
<a href='http://localhost:80/google/login'><img class="center" src="https://th.bing.com/th/id/R.fbaf2a480307c22570f0dc93b6e458bf?rik=%2bLGr8X4DRYavZQ&riu=http%3a%2f%2f3.bp.blogspot.com%2f-Ep_sMHCGb-M%2fVl9h5smpeaI%2fAAAAAAAACak%2fMQF7WdfmBgI%2fs640%2fimage00.png&ehk=n42mES2A7vz0pt6QcriX85BkucvJfEdg0K64IGRd8TQ%3d&risl=&pid=ImgRaw&r=0", alt="Sign in with Google", width="200",height="100"></a>

<form class="center" method="post">
    <div>
        <a>Email:</a>
        <input name='email'></input>
    </div>
    <div>
        <a>Password:</a>
        <input name='password' type='password'></input>
    </div>
    <button type="submit">Submit</button>
</form>

<a style = 'position:fixed;width:100%; right:0px;bottom:0px; text-align: center'>© Trevor Hurst 2022</a>


<style>
    .center{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>