<html>

    <form class="center" style='width:25%' method="post">
        <div>
            <a>Phone Number</a>
            <input name='phone_number', value='{{number}}'></input>
        </div>
        <br>
        <div>
            <a>Password</a>
            <input name='password' type='password'></input>
        </div>
        <br>
        <div>
            <a>Confirm Password</a>
            <input name='confirm_password' type='password'></input>
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="/"><button>Back</button></a>

    <a style = 'position:fixed;width:100%; right:0px;bottom:0px; text-align: center'>© Trevor Hurst 2022</a>

</html>