<html>
    <form method="post">
        <table border="1">
            {% for line in commentsList %}
            <tr>
            {%set i = loop.index%}
            {% for item in line.split(',')%}
            <input name = '{{loop.index+4*(i-1)}}' value='{{item}}'>
            </td>
            {% endfor %}
            </tr><br>
            {% endfor %}
            </table>
            </div>
            <input type="submit">
            <a href="/"><button>Back</button></a>
    </form>

    <a style = 'position:fixed;width:100%; right:0px;bottom:0px; text-align: center'>© Trevor Hurst 2022</a>
</html>